{
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "quoteProps": "consistent",
    "bracketSpacing": true,
    "arrowParens": "always",
    "tabWidth": 2,
    "parser": "typescript",
    "printWidth": 125,
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-organize-imports"
    ],
    "proseWrap": "preserve",
    "jsxSingleQuote": false
}